@model MasterMechLib.UserDtl

@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<h2>AccountDetails</h2>

<div>
    <h4>UserDtl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mdLastLoginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdLastLoginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdLastPwdChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdLastPwdChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msMobNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msMobNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msUserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msUserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msCreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdDeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdDeletedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msDeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msDeletedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
